{% load static%}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'estilos.css' %}">
    <title>Tarea Programada 1</title>
</head>
<body>
    <!-- Inicio del Cuerpo  -->

    <!-- Contenedor del titulo -->
    <div class="contenedor_titulo">
        <h1 id="titulo">Lista de Empleados</h1>
    </div>

    <!-- ************************************************************************************************************* -->

    <!-- Contenedor de la lista -->
    <div class="contenedor_lista">
        
        <table class="tabla">
            <tr class="encabezado">
                <th>ID</th>
                <th>Nombre</th>
                <th>Salario</th>
            </tr>
            {% for empleado in empleados %}
            <tr>
                <td>{{ empleado.0 }}</td>
                <td>{{ empleado.1 }}</td>
                <td>{{ empleado.2 }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>

    <!-- ************************************************************************************************************* -->

    <!-- Contendor de botones -->
    <div class="contenedor_botones">
        <button id="boton_agregar">Agregar Empleado</button>
    </div>

    <div id="modalInsertarEmpleado" class = "modal">
        <div class="modal-contenido">
            <span class="cerrar">&times;</span>
            <h2>Insertar Nuevo Empleado</h2>
            <form id="formInsertarEmpleado" method="POST">
                {% csrf_token %}
                <label for="nombre">Nombre:</label>
                <input type="text" id="nombre" name="nombre" required>
                <br>
                <br>
                <label for="salario">Salario:</label>
                <input type="text" id="salario" name="salario" required>
                <br>
                <br>
                <button type="submit">Insertar</button>
            </form>
        </div>
    </div>
    
    
    <script src="{% static 'script.js' %}"></script>
</body>
</html>