<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href=".\static\estilos.css">
    <title>Tarea Programada 1</title>
</head>
<body>
    <!-- Inicio del Cuerpo  -->

    <!-- Contenedor del titulo -->
    <div class="contenedor_titulo">
        <h1 id="titulo">Lista de Empleados</h1>
    </div>

    <!-- ************************************************************************************************************* -->

    <!-- Contenedor de la lista -->
    <div class="contenedor_lista">

        <h2>Aqui va la lista</h2>
        <!-- Colocar los elementos para la lista de empleados -->

    </div>

    <!-- ************************************************************************************************************* -->

    <!-- Contendor de botones -->
    <div class="contenedor_botones">
        <h2>Aqui van los botones</h2>
    </div>
    
</body>
</html>